<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ControleFinanceiro</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body class="bg-login">
    @RenderBody()
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>