@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid p-4">
        <div class="d-flex justify-content-between">
            <h1 class="text-uppercase">Configurações</h1>
        </div>
        <a href="/Usuario" class="btn btn-teste">
            <div class="card text-center mb-3" style="width: 20rem; height: 6rem">
                <div class="card-body">
                    <h5 class="card-title m-0">USÁRIOS</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="container-fluid p-4">
        <div class="d-flex justify-content-between">
            <h1 class="text-uppercase">DESPESAS</h1>
        </div>
        <a href="/TipoDespesa" class="btn btn-teste">
            <div class="card text-center mb-3" style="width: 20rem; height: 6rem">
                <div class="card-body">
                    <h5 class="card-title m-0">TIPOS DE DESPESAS</h5>
                </div>
            </div>
        </a>
        <a href="/TipoDespesaRecorrente" class="btn btn-teste">
            <div class="card text-center mb-3" style="width: 20rem; height: 6rem">
                <div class="card-body">
                    <h5 class="card-title m-0">TIPOS DE DESPESAS RECORRENTES</h5>
                </div>
            </div>
        </a>
        <a href="/CartaoCredito" class="btn btn-teste">
            <div class="card text-center mb-3" style="width: 20rem; height: 6rem">
                <div class="card-body">
                    <h5 class="card-title m-0">CARTÕES DE CRÉDITO</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="container-fluid p-4">
        <div class="d-flex justify-content-between">
            <h1 class="text-uppercase">RECEITAS</h1>
        </div>
        <a href="/TipoReceita" class="btn btn-teste">
            <div class="card text-center mb-3" style="width: 20rem; height: 6rem">
                <div class="card-body">
                    <h5 class="card-title m-0">TIPOS DE RECEITAS</h5>
                </div>
            </div>
        </a>
    </div>
</main>